*.pyc

# Sphinx indices
indices/Article_article.s*

# 1M Articles cached for kick starting the app.
# I want to include this in the future though.
wintria_2013_1M_articles.tar.gz

# Https key
*.pem

# Autocomplete json files
autocomplete/

bin
dist
build

settings.py

### IDE bullshit
.idea
.DS_Store


