{% extends "base.html" %}
{% load staticfiles %}

{% block title %} About Wintria {% endblock %}

{% block styles %}
    <style>
        h1,h2,h3,h4,strong,span { color:#2980b9; }
        p { color:#232629;font-size:18px;line-height: 25px;-webkit-font-smoothing:antialiased;-webkit-text-stroke:0.35px; }
        .how {line-height: 30px;}
    </style>
{% endblock %}

{% block query_bar %} {% endblock %}

{% block content %}
<div id="main" class="container clear-top">
    <div class="row-fluid" style="">
        <div class="span12 dynamic_plat" style="font-weight: 300;">
            <div class="row spacer"></div>
            <div class="well well-large">
                <h3>About Wintria</h3>
                <br>
                <p style="">
                    We love news. Whether it’s sports, politics or fashion, we believe
                    information should be easily discovered and unified. That’s why we built Wintria.
                    <br>
                    <br>
                    Wintria is a search engine exclusively for news. You can now see news from a variety of news sources all in one place.
                    <br>
                    <br>
                    Traditionally, news has been organized into categories. We’re changing
                    the way you experience news by bringing keyword search to the forefront in
                    an intuitive and interactive interface.
                    <br>
                    <br>
                    Our goal is to become the news content leader in providing an engaging search
                    experience. Interested in what’s in store for Wintria 2.0? Sign up now
                    to receive your exclusive invite.
                    <br>
                    <br>
                    <div class="row-fluid" style="text-align: center;">
                    <img style="" src="{% static "images/about_image_wintria.png" %}">
                    </div>
                    <!--

                    <b>Search</b>
                    <br>

                        We give you the control to discover the news you want and simply help you find your stream.

                    <br>
                    <br>

                    <b>Live Tile Update</b>
                    <br>

                    Wintria updates as live news tiles at a comfortable clock rotation rate,
                    allowing human clicks to be greatly reduced. We provide the instant, most up to
                    date, and most accurate news around a topic of your interest.


                    <br>
                    <br>

                    <b>Sources</b>
                    <br>

                    When you search, we filter through many sources and give you information
                    from all the relevant & credible sources surrounding a topic.

                    <br>
                    <br>

                    <b>Pause/Play your stream</b>
                    <br>

                    You can pause your stream at anytime to stop it from updating automatically
                    with new noteworthy information and play to let it continue.
                    We let you control the speed at which you want receive your information.


                    <br>
                    <br>

                    <b>Keyword Feature</b>
                    <br>

                    By analyzing the full content of each article, we’ve identified the most
                    important keywords regarding a piece of content and displayed them as hashtags.
                    Don’t know what something means? Simply click on a hashtag to
                    see the live conversation surrounding it it via Twitter. Want to
                    leave your opinion? You can simply engage in the conversation via
                    Twitter as well, the best real-time information network that exists today.


                    <br>
                    <br>

                    <b>Read an article</b>
                    <br>

                    Clicking on any article opens it in a new tab for your convenience to read.
                    What’s more is that your stream of news is automatically paused
                    so you don’t miss out on any of it while reading an article from a source.


                    <br>
                    <br>

                    <b>Share</b>
                    <br>

                        Like an article and you want to tell your friends? Share via the social media platforms.

                    platforms.
        -->
                </p>

            </div>

        </div>
    </div>
</div>
{% endblock %}




About

We love news. Whether it’s sports, politics or fashion, we believe information should be easily discovered and unified. That’s why we built Wintria.

Wintria is a search engine exclusively for news. You can now see news from a variety of news sources all in one place.

Traditionally, news has been organized into categories. We’re changing the way you experience news by bringing keyword search to the forefront in an intuitive and interactive interface.

Our goal is to become the news content leader in providing an engaging search experience. Interested in what’s in store for Wintria 2.0? Sign up now to receive your exclusive invite.

Search

Live Tile Update

Sources


Pause/Play your stream

Keyword Feature

Read an article

Share

