<!DOCTYPE HTML>
{% load staticfiles %}
{% load article_extras %}
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta_head %}
       <title>{% block title %}Wintria - Explore the Present{% endblock %}</title>
        <meta name="keywords" content="wintria, wintria.com, find your stream, news, stream, lucas, ou-yang, nithin, jilla">

        <meta name="description" content="Wintria is a search engine exclusively for news. You can now see news from a variety of news sources all in one place." />

        <meta property="og:site_name" content="Wintria" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="Wintria - Find your Stream" />
        <meta property="og:image" content="{{ root_url }}{% static "images/fb_logo.png" %}" />
        <meta property="og:description" content="Wintria is a search engine exclusively for news. You can now see news from a variety of news sources all in one place." />
        <meta property="og:url" content="{{ request.build_absolute_uri }}" />
        <meta property="fb:app_id" content="141119156036716"/>

        <link rel="image_src" href="{% static "images/fb_icon.png" %}" />
    {% endblock %}

    <link rel="shortcut icon" href="{% static "images/favicon.ico" %}" type="image/x-icon" />
  	<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" />
  	<link href="{% static "css/font-awesome.css" %}" rel="stylesheet" />
  	<link href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet" />
    <link href="{% static "css/flat-ui.css" %}" rel="stylesheet">
    <link href="{% static "css/wint-custom-10.css" %}" rel="stylesheet"/>

    {% block styles %} <!-- Additional styles go here --> {% endblock %}

    <![if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]>

    {% csrf_token %}
  </head>

  <body {% block splash_attrs %} {% endblock %}>
  {% block nav_Bar %}
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container" style="height: 54px;">
              <!--<a class="brand" href="{ root_url }}"><img src="{ static "images/logo_1.png" %}"
                style="margin-top:-20px;margin-bottom:-20px;"/></a>-->
              <a class="brand fui-Wintria" href="{{ root_url }}" style="margin-left:-24px;">Wintria
                <span style="font-size:9px;line-height:0px;color:#2980b9;">BETA</span></a>
              <!--<ul class="nav"><li><a href="{ root_url }}/daily">the daily<!--<span class="navbar-unread">1</span></a></li></ul>-->
              <!--<ul class="nav"><li><a href="">archives</a></li></ul> <!-- "{ root_url }}/archives-->
              <ul class="nav"><li><a href="{{ root_url }}/story">our story</a></li></ul>
              {% block query_bar %}
              <form id="main_query_input" class="navbar-search form-search pull-left" action="javascript:query_main()" method="post">

                <div class="main_dropdown navbar-search input-append" style="margin-bottom:0;margin-left:-20px;">
                  <input data-provide="typeahead" class="typeahead" id="appendedInputButton-02" type="text"
                      style="font-size:15px;margin-top:0;margin-bottom:0;
                      width:240px;" placeholder="what are you interested in?"/>

                  <button id="main_query_btn" class="btn btn-large" style="height:43px;margin-top:0;" type="submit"><span class="fui-search"></span></button>
                </div>

              </form>
              {% endblock %}
              {% block social_media %}
              <ul class="social_media nav pull-right" style="margin-top:19px;width:40px;margin-left:60px;margin-right:-50px;"><li>
                 <div class="span2" style="width:10px;margin-left:0;">
                  <a href="https://twitter.com/share" class="twitter-share-button"
                      data-url="http://wintria.com" data-text="Check out Wintria.com
                      for Instant News!" data-via="WintriaNews" data-hashtags="wintria">
                  </a> </div>
              </li></ul>
<!--
              <ul class="social_media nav pull-right" style="margin-top:5px;margin-right:35px;width:20px;"><li>
                  <div class="span2" style="width:10px;margin-left:0;">
                     <a href="" style="border:1px #d2d8d3 solid" class="btn btn-small btn-social-googleplus">
                        <i class="fui-googleplus"></i></a>
                  </div>
              </li></ul>

              <ul class="social_media nav pull-right" style="margin-top:5px;margin-right:35px;width:20px;margin-left:60px;"><li>
                  <div class="span2" style="width:10px;margin-left:0;">
                     <a href="" style="border:1px #d2d8d3 solid" class="btn btn-small btn-social-linkedin">
                        <i class="fui-linkedin"></i></a>
                  </div>
              </li></ul>-->
              {% endblock %}
              <ul class="social_media nav pull-right"><li><a>
                  <div class="span2" style="width:10px;margin-left:0px;">
                  <div class="fb-like" data-href="http://facebook.com/wintrianews"
					data-send="false" data-layout="button_count" data-width="200"
					data-show-faces="true" style="height: 15px;"></div>
                  </div>
              </a></li></ul>

             <span class="social_media nav pull-right" style="color:#fff;margin-top:17px;">
                 <i class="icon-heart" style="margin-top:4px;color:#e74c3c;"></i></span>
            </div>
          </div>
        </div>
  {% endblock %}

    <!--
    <div id="stream-limit-warning-modal-max" class="modal hide fade">
         <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> <h3>Stream Limit</h3></div>
         <div class="modal-body"><p>Sorry, but we can only support up to 10 streams at one time!</p></div>
         <div class="modal-footer"><a href="#" class="close" data-dismiss="modal" class="btn">Close</a></div>
    </div>
    <div id="stream-limit-warning-modal-min" class="modal hide fade">
         <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> <h3>Stream Limit</h3></div>
         <div class="modal-body"><p>You need at least one crawler!</p></div>
         <div class="modal-footer"><a href="#" class="close" data-dismiss="modal" class="btn">Close</a></div>
    </div>
    -->
    <div id="wrap" style="min-height:900px;">
        {% block sidebar %} {% endblock %}

        {% block content %}
                <!-- Nearly all content will be in here -->
        {% endblock %}

    </div>

    {% block footer %}
    <footer class="footer">
        <div class="mvl pvl" style="height:90px;">
          <div class="bottom-menu bottom-menu-large" style="padding-top:20px;">
            <div class="container">
              <div class="row">
                <div class="span2 brand">
                  <a class="fui-" style="font-weight: 200;">Wintria - Find your Stream</a>
                </div>
                <div class="span2">
                  <ul class="bottom-links">
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/story">Our Story</a></li>
                    <li><a href="/feedback">Feedback</a></li>
                  </ul>
                </div>
                <div class="span2">
                  <ul class="bottom-links">
                    <li><a href="/2.0">Wintria 2.0</a></li>
                    <li><a href="/thanks">Thanks To</a></li>
                  </ul>
                </div>
                <div class="span2">
                  <ul class="bottom-links">
                    <li><a href="http://facebook.com/wintrianews">Facebook</a></li>
                    <li><a href="https://twitter.com/WintriaNews">Twitter</a></li>
                    <li><a href="http://www.linkedin.com/company/3078704">Linkedin</a></li>
                  </ul>
                </div>
                <div class="span2 brand" style="font-weight: 200; font-size: 15px;line-height: 25px;
                ">
                  By <a href="http://codelucas.com" class="fui-">Lucas</a> &
                     <a href="http://nithinjilla.com" class="fui-">Nithin.</a>
                    <div class="spacer" style="margin-top: 0px"></div>
                  <a class="fui-">Laguna Beach, California.</a>
                </div>
              </div>
            </div>
          </div>
        </div>
    </footer>
    {% endblock %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/hogan-2.0.0.min.js" %}"></script>
    <script src="{% static "js/typeahead.min.js" %}"></script>
    <!--<script src="{ static "js/jquery.stacktable.js" %}"></script>-->

	<div id="fb-root"></div>
    <script type="text/javascript" type="text/javascript" charset="utf-8">
        (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=141119156036716";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));



        <!-- Google analytics -->
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-43553426-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();


        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                function getCookie(name) {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                 return cookieValue;
                }
                if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken')); // only locally
                }
            }
        });

        var root_url = "{{ root_url }}";


		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
        if(!d.getElementById(id)){js=d.createElement(s);
		js.id=id;js.src="//platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>

  {% block scripts %} <!-- Additional scripts go here in children templates --> {% endblock %}
  </body>
</html>
