{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Our Story - Lucas & Nithin {% endblock %}

{% block styles %}
    <style>
        h1,h2,h3,h4,strong,span { color:#2980b9; }
        p { color:#232629;font-size:18px;line-height: 25px;-webkit-font-smoothing:antialiased;-webkit-text-stroke:0.35px; }
        .how {line-height: 30px;}
    </style>
{% endblock %}

{% block query_bar %} {% endblock %}

{% block sidebar %} <!-- Kill the sidebar --> {% endblock %}


{% block content %}
<div id="main" class="container clear-top">
<div class="row-fluid" style="">
<div class="span12 dynamic_plat" style="font-weight: 300;">
	<div class="row spacer"></div>
	    <div class="well well-large">

            <h3>Our Story</h3>
            <hr style="margin-top:12px;opacity:0.25;"/>
            <p>
                Wintria was originally a weekend project built by Lucas Ou-Yang in 18 
                hours before his finals.
                <br>
                <br>
                Lucas was sick of how "bland" the flavor of our current today news tasted. He
                wanted to create a new way for people to interact with and experience their
                daily news. In January 2013, Wintria's baby alpha build was released online. 
                It was designed as a humble and hardcoded news feeder, only retrieving 
                and aggregating articles from a mere 4 websites. Due to the overwhelming 
                response from reddit, friends, and family, what was originally a hobby 
                escalated quickly to something much more thrilling. 
                <br>
                <br>
                Wintria was refined since its initial release. Nithin Jilla joined Wintria in May
                2013, serving as the visionary for the company with Lucas being the visionary 
                for the product. With Nithin’s vision and contribution, Wintria changed from 
                being an aggregator to a search. A search for news that aimed to be the 
                leader for the way we get news surrounding a certain keyword or a topic of 
                our interest. Nithin helped define the vision, timeline, core features and the 
                features of the minimum viable product along with helping to incorporate 
                Wintria as well as raise seed funding to patent and cover all costs. 
                <br>
                <br>
                Wintria launched into its beta testing phase to gather feedback in order to 
                iterate the next version. During this stage, Lucas decided to focus more on 
                finishing school early so that he can focus on entrepreneurial ventures more 
                wholeheartedly after. He also interned at Facebook for more industry exposure. 
                Following a series of events, Nithin & Lucas made the decision to close 
                out wintria in February 2014. It proved to be a great learning experience for 
                both Lucas & Nithin.
            </p>

            <div class="row spacer"></div>

            <h3>Lucas Ou - Cofounder</h3>
            <hr style="margin-top:12px;opacity:0.25;"/>
            <span style="font-size:16px;">Lucas is a CS student at UCI and
                    interested in data mining, the web, and snowboarding.</span>
            <br><br>
            <div class="row-fluid">
            <div class="span2">
                <img src="http://0.gravatar.com/avatar/2cb346768fc8a144fb6f98d7b38a93cc?s=163" class="img-rounded"/>
                <div style="margin-top:7px;"></div>
                <a href="http://lucasou.com" style="font-size:22px;">lucasou.com</a>
            </div>
            <div class="span10">
                <p>
                Lucas is a young entrepreneur and never stops programming, and he does it to an unhealthy extent.
                Aside from coding random ideas, programming projects or working on Wintria, Lucas enjoys distance running
                and snowboarding. Despite being an engineer, Lucas is fascinated in art, branding, and entrepreneurship and it
                is reflected in his software. He has a <a href="http://lucasou.com/projects/">collection</a> of small games and apps.
                <br>
                <br>
                Lucas is the head engineer & original visionary behind Wintria.
                <br>
                </p>
            </div>
            </div>

            <div class="row spacer"></div>
            <div class="row spacer"></div>

            <h3>Nithin Jilla - Cofounder</h3>
            <hr style="margin-top:12px;opacity:0.25;"/>
            <span style="font-size:16px;">
                Nithin is a social entrepreneur who loves the outdoors, 
                adventure and is a total foodie.
            </span>
            <br><br>
            <div class="row-fluid">
            <div class="span2">
                <img src="http://res.cloudinary.com/hrscywv4p/image/upload/c_thumb,h_280,w_280/rwvbxs66o1aaukvknr8r.jpg" class="img-rounded"/>
                <div style="margin-top:7px;"></div>
                <a href="http://nithinjilla.com" style="font-size:22px;">nithinjilla.com</a>
            </div>
            <div class="span10">
                <p>
                Nithin is a graduate from the Information & Computer Sciences School at the University of California, Irvine and is a social entrepreneur following his passion of giving back and helping others by combining his interests in technology and education. 
                He’s been working on growing Kenya Dream, a nonprofit that raises funds to help improve access to education abroad. He is also the Co-Project Manager of AppJam+, a S.T.E.M.- focused program which educates Middle
                    School students in the creation of mobile applications. Nithin aspires to help spread the “learning by doing” model to the younger generation and nurture the next generation of innovators through entrepreneurship.
               </p>
            </div>
            </div>

            <div class="row spacer"></div>
            <div class="row spacer"></div>

        </div>
        </div>
    </div>
</div>
{% endblock %}


