{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Wintria 2.0! {% endblock %}

{% block styles %}
    <style>
        h1,h2,h3,h4,strong,span { color:#2980b9; }
        p { color:#232629;font-size:18px;line-height: 25px;-webkit-font-smoothing:antialiased;-webkit-text-stroke:0.35px; }
        .how {line-height: 30px;}
    </style>
{% endblock %}

{% block query_bar %} {% endblock %}

{% block content %}
<div id="main" class="container clear-top">
    <div class="row-fluid" style="">
        <div class="span12 dynamic_plat" style="font-weight: 300;">
            <div class="row spacer"></div>
            <div class="well well-large">
                <h3>Wintria 2.0</h3>
                <br>

                <p>
                    Wintria 2.0 will be <i>absolutely amazing</i>. By introducing personal accounts
                    we’re taking personalization to a new level. We believe that discovery of news
                    surrounding your favorite topics or keywords should be effortless and that’s the
                    vision we’ve hoping to achieve with our Wintria 2.0.
                    <br>
                    <br>
                    Send us some feedback <a href="/feedback/"><b>here</b></a> to be one of the first
                    to get an inside look and exclusive
                    invitation to try out Wintria 2.0 within in the next 2 months.
                    Learn more about how you can help build our startup and move us forward!

                    <br>
                    <br>
                    Questions? Comments? Email us at info@wintria.com

                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}